if ARCH_MX1

comment "MX1 platforms:"

config MACH_MXLADS
	bool

config ARCH_MX1ADS
	bool "MX1ADS platform"
	select MACH_MXLADS
	help
	  Say Y here if you are using Motorola MX1ADS/MXLADS boards

config MACH_SONY_PRS505
	bool "Sony PRS-505 book reader"
	help
	  Say Y here if you are using the Sony PRS-505 book reader.

config SONY_PRS505_DISPLAY
	tristate "Sony PRS-505 book reader display support"
	depends on MACH_SONY_PRS505
	help
	  Say Y here if you are using the Sony PRS-505 book reader and want
	  to have display working. Note that this only glue between metronomefb
	  and imxfb drivers. They also must be enabled.



config MACH_SCB9328
	bool "Synertronixx scb9328"
	help
	  Say Y here if you are using a Synertronixx scb9328 board

endif
